{% extends 'base.html.twig' %}

{% block title %}Hello HomeAPIController!{% endblock %}

{% block body %}
<style>
    .text-center { text-align:center; font-size:45px; padding-top:100px}
</style>
<section>
    <p class="text-center">Vous n'êtes pas sur le bon site, <a href="https://RivagesPropres.fr">redirection ici</p>
</section>
{% endblock %}
